.box-dashboard-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: calc(100% - 30px);
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
}

.box-dashboard-container .content-display {
    width: calc(100% / 3 - 30px);
    height: 250px;
    margin: 10px 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.content-display .main-content {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-content .item-icon {
    width: 40%;
    text-align: center;
    align-self: center;
}

.main-content .item-icon span {
    font-size: 60px;
    font-weight: 500;
    color: white;
}

.main-content .item-text {
    min-width: 60%;
    text-align: center;
    align-self: center;
    padding: 15px 0;
}
.main-content .item-text .follower{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-content .item-text .follower h1{
    font-size: 55px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0;
}
.main-content .item-text .follower p{
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 5px;
    margin-top: 35px;
}
.main-content .item-text h1 {
    font-size: 55px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 15px 0;
}
.main-content .item-text span {
    font-size: 25px;
    color: white;
}
.main-content .item-text p{
    font-size: 18px;
    color: white;
}
.content-display .bottom-link {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: center;
    padding: 15px;
    height: 60px;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom-link a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.content-display.box1 {
    background: DodgerBlue;
}

.content-display.box2 {
    background: #0d3073;
}

.content-display.box3 {
    background: #228B22;
}

.content-display.box4 {
    background: #DC143C;

}

.content-display.box5 {
    background: #4682B4;
}

.content-display.box6 {
    background: #FF4500;
}

.content-display.box7 {
    background: #FFD700;
}
.content-display.box8 {
    background: #FF1493;
}
.content-display.box9 {
    background-color: #71b7e6;
}
.bottom-link:hover {
    background: #ccc;
}

.bottom-link:hover a {
    text-decoration: underline;
}

.back-button:hover {
    background: white;
}

.back-button:hover a {
    color: #f44336;
}

.back-button a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.form-fill button {
    float: right;
    margin-right: 25px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background: #0d3073;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #0d3073;
    cursor: pointer;
    margin-top: 10px;
}

.form-fill button:hover {
    background: white;
    color: #0d3073;
}
