
.album-wrapper {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-color: var(--box-color);
    overflow: hidden;
}
.album-wrapper .album-header{
    width: 100%;
    min-height: 280px;
    background-color: var(--box-color);
}
.album-header .album-header-container{
    display: flex;
    flex-direction: row;
}
.album-header-container .album-img img{
    margin: 30px;
    width: 220px;
    height: 220px;
    object-fit: cover;
}
.album-header-container .album-text{
    padding-top: 20px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
}
.album-text .album-name{
    font-size: 60px;
    font-weight: bold;
    color: var(--text-color);
    margin: 15px 0;
    height: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.album-text .album-name:hover{
    overflow: visible;
}
.album-text .album-song{
    font-size: 20px;
    font-weight: 500;
    color: var(--white-dark-color);
    margin: 10px 0;
}
.album-text .album-text-icon{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.album-text-icon .icon-1{
    margin-right: 20px;
    color: var(--text-color);
    background-color: var(--black-color);
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    height: 45px;
    width: 45px;
    line-height: 45px;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
}
.album-text-icon .icon-2{
    margin-right: 20px;
    color: var(--white-dark-color);
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    justify-content: center;
    text-align: center;
}
.album-text-icon .icon-3{
    margin-right: 20px;
    color: var(--white-dark-color);
    cursor: pointer;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    justify-content: center;
    text-align: center;
}
.album-text-icon .icon-1:hover{
    background-color: var(--nav-color);
}
.album-text-icon .icon-2:hover, .icon-3:hover {
    color: var(--text-color);
}
.album-wrapper .album-dash {
    width: 100%;
}
.album-dash .album-dash-content {
 width: 100%;
}
.album-dash-content .album-content-container{
    max-width: 100%;
    margin: 0;
    padding: 20px 30px;
}
.album-content-container .album-container-row{
    display: flex;
    flex-direction: column;
    width: 100%;
}
/*=================================================*/
.album-container-row .album-row-header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
}
.album-row-header .title {
    width: calc(90% - 15px);
    margin-left: 15px;
}
.album-row-header .icon{
    width: calc(10% - 45px);
    margin-right: 45px;
}
.album-row-header .title, .icon{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}
.album-row-header .title span{
    margin-right: 10px;
}
.album-row-header .icon span{
    float: right;
}
/*==================================================*/
/*=================== Table Content ==================*/
.container-row .row-content-table-album {
    padding: 15px 0;
}

.row-content-table-album table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.row-content-table-album td {
    padding: 10px 0;
}

.row-content-table-album td:nth-child(1) {
    width: 80%;
}
.row-content-table-album td:nth-child(2) {
    width: 20%;
}

.row-content-table-album td ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    padding-left: 15px;
    margin-bottom: 0;
}
.row-content-table-album td ul li {
    margin-right: 15px;
    color: var(--white-dark-color);
}

.row-content-table-album td ul li .num-order {
    width: 20px;
    padding: 12px 0;
}

.row-content-table-album td ul li span.number {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-dark-color);
    display: block;
    padding: 0 5px;
}

.row-content-table-album td ul li span.play-up {
    font-size: 22px;
    font-weight: 500;
    color: var(--white-dark-color);
    display: none;
    position: relative;
    padding: 0;
}

.row-content-table-album td ul li.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row-content-table-album td ul li .song-details{
    display: flex;
    flex-direction: column;
}
.song-details span.song-title{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    align-items: center;
}
.song-details a {
    text-decoration: none;
    text-transform: capitalize;
}

.song-details a span.artist-name{
    font-size: 14px;
    font-weight: 500;
    color: var(--white-dark-color);
}

.row-content-table-album td .song-duration{ 
    float: right;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    align-items: center;
}
.row-content-table-album td .song-duration a{
    text-decoration: none;
}
.row-content-table-album td .song-duration a span{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 15px;
    color: #71b7e6;
    border: none;
}
.row-content-table-album td .song-duration p{
    font-size: 14px;
    font-weight: 500;
    color: var(--white-dark-color);
    margin: 15px 0;
}

.row-content-table-album td .song-duration .more-option {
    font-size: 20px;
    font-weight: 500;
    color: var(--white-dark-color);
    cursor: pointer;
    padding-right: 0;
    padding-left: 15px;
    opacity: 0;
}

.row-content-table-album tr:hover {
    background-color: var(--box-hover-color);
}
.row-content-table-album tr:hover td:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.row-content-table-album tr:hover td .song-details a span.artist-name{
    color: var(--text-color);
}
.song-details a:hover span.artist-name {
    text-decoration: underline;
}
.row-content-table-album tr:hover .number {
    display: none;
}
.row-content-table-album tr:hover .play-up {
    display: block;
    color: var(--text-color);
}

.row-content-table-album tr:hover .song-duration .more-option {
    opacity: 1;
    color: var(--text-color);
}
@media screen and (max-width: 1200px) {
    .album-row-header .title {
        width: 80%;
    }
    .album-row-header .icon{
        width: 20%;
    }
    .album-row-content table td:nth-child(1){
        width: 80%;
    }
    .album-row-content table td:nth-child(2){
        width: 20%;  
    }
    .album-row-content td ul li.text-overflow{
        width: 500px;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .album-row-content td ul li .td-1-3 span {
        width: 300px;
    }
}
@media screen and (max-width: 900px) {
    .album-row-header .title {
        width: 80%;
    }
    .album-row-header .icon{
        width: 20%;
    }
    .album-row-content table td:nth-child(1){
        width: 80%;
    }
    .album-row-content table td:nth-child(2){
        width: 20%;  
    }
    .album-row-content td ul li.text-overflow{
        width: 300px;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .album-row-content td ul li .td-1-3 span {
        width: 300px;
    }
}
@media screen and (max-width: 700px) {
    .album-row-content table td:nth-child(1){
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; 
    }
    .album-row-content table td:nth-child(2){
        display: none;
    }
    .album-row-content td ul li.text-overflow{
        width: 100px;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .album-row-header .icon{
        display: none;
    }
    .album-row-content td ul li .td-1-3 span {
        width: 200px;
    }
}
