    .createplaylist-wrapper { 
        margin-top: 20px;
        width: 100%;
        height: auto;
        background-color: var(--box-color);
        overflow: hidden;
    }
    .createplaylist-wrapper .createplaylist-header{
        width: 100%;
        min-height: 280px;
        background-color: var(--box-color);
    }
    .createplaylist-header .createplaylist-header-container{
        display: flex;
        flex-direction: row;
        min-width: 500px;
        width: 100%;
    } 
    .createplaylist-header-container img{
        width: 220px;
        height: 220px;
        object-fit: cover;
        margin: 30px;
        background-image: url("/frontend/images/music_avatar1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid white;
    }
    .createplaylist-header-container .createplaylist-text{
        padding-top: 60px;
        color: var(--text-color);
        min-width: 500px;
        width: calc(100% - 300px);
    }
    .createplaylist-text .edit-createplaylist{
        display: flex;
        flex-direction: row;
    }
    .createplaylist-text span{
        font-size: 18px;
        font-weight: 500;
    }
    .createplaylist-text .edit-createplaylist h1{
        font-size: 80px;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .createplaylist-wrapper .createplaylist-dash {
        width: 100%;
    }
    .createplaylist-dash .dash-top {
        display: flex;
        flex-direction: row;
    }
    .createplaylist-dash .dash-top .dash-top-1 span{
        margin: 20px 30px;
        color: var(--text-color);
        background-color: var(--black-color);
        cursor: pointer;
        font-size: 30px;
        font-weight: 500;
        height: 60px;
        width: 60px;
        line-height: 60px;
        border-radius: 50%;
        justify-content: center;
        text-align: center;
    }
    .createplaylist-dash .dash-top .dash-top-2 span{
        margin: 20px 0;
        color: var(--white-dark-color);
        cursor: pointer;
        font-size: 30px;
        font-weight: 500;
        line-height: 60px;
        justify-content: center;
        text-align: center;
    }
    .createplaylist-dash .dash-top .dash-top-1 span:hover{
        background-color: var(--nav-color);
    }
    .createplaylist-dash .dash-top .dash-top-2 span:hover {
        color: var(--text-color);
        border: none;
    }

        .dash-content .createplaylist-dash {
            width: 100%;
            background-color: var(--box-color);
        }
    
        .createplaylist-dash .createplaylist-dash-content {
            width: 100%;
        }
    
        .createplaylist-dash-content .createplaylist-content-container {
            max-width: 100%;
            margin: 0;
            padding: 20px 30px;
        }
    
        .createplaylist-content-container .createplaylist-container-row {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    
        /*=================================================*/
        .createplaylist-container-row .createplaylist-row-header {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid var(--border-color);
            padding-bottom: 10px;
        }
    
        .createplaylist-row-header .title {
            width: calc(35% - 15px);
            margin-left: 15px;
            min-width: 400px;
        }
    
        .createplaylist-row-header .album {
            width: 35%;
            text-align: center;
            min-width: 400px;
        }
        .createplaylist-row-header .date{
            width: 15%;
            text-align: center;
            min-width: 200px;
        }
        .createplaylist-row-header .icon {
            width: calc(15% - 115px);
            margin-right: 45px;
        }
        .createplaylist-row-header .title, .alubm, .date, .icon {
            color: var(--text-color);
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }
    
        .createplaylist-row-header .title span {
            margin-right: 10px;
        }
    
        .createplaylist-row-header .icon span {
            float: right;
        }
    
        /*==================================================*/
    /*=================== Table Content ==================*/
        .container-row .row-content-table-createplaylist {
            padding: 15px 0;
        }
        .row-content-table-createplaylist .table-border{
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid var(--border-color);
        }
        .row-content-table-createplaylist table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            min-width: 1200px;
        }
        .row-content-table-createplaylist td {
            padding: 10px 0;
        }
        .row-content-table-createplaylist td:nth-child(1) {
            width: 35%;
        }
        .row-content-table-createplaylist td:nth-child(2) {
            width: 35%;
            text-align: center;
        }
        .row-content-table-createplaylist td:nth-child(3) {
            width: 15%;
            text-align: center;
        }
        .row-content-table-createplaylist td:nth-child(4) {
            width: 15%;
        }
        .row-content-table-createplaylist td ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            text-transform: capitalize;
            padding-left: 15px;
            margin-bottom: 0;
        } 
        .row-content-table-createplaylist td ul li {
            margin-right: 15px;
            color: var(--white-dark-color);
        }
        .row-content-table-createplaylist td ul li .num-order {
            width: 20px;
            padding: 12px 0;
        }
        .row-content-table-createplaylist td ul li span.number {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-dark-color);
            display: block;
            padding: 0 5px;
        }
        .row-content-table-createplaylist td ul li span.play-up {
            font-size: 22px;
            font-weight: 500;
            color: var(--white-dark-color);
            display: none;
            position: relative;
            padding: 0;
        }
        .row-content-table-createplaylist td ul li .img img {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        .row-content-table-createplaylist td ul li.text-overflow {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .row-content-table-createplaylist td ul li .song-details {
            display: flex;
            flex-direction: column;
        }
        .song-details span.song-title {
            font-size: 18px;
            font-weight: 500;
            color: var(--text-color);
            align-items: center;
        }
        .song-details a {
            text-decoration: none;
            text-transform: capitalize;
        }
        .song-details a span.artist-name {
            font-size: 14px;
            font-weight: 500;
            color: var(--white-dark-color);
        }
        .row-content-table-createplaylist td .song-album a {
            text-decoration: none;
            text-transform: capitalize;
        }
        .row-content-table-createplaylist td .song-album a span {
            font-size: 16px;
            font-weight: 500;
            color: var(--white-dark-color);
        }
        .row-content-table-createplaylist td .date-added span{
            font-size: 16px;
            font-weight: 500;
            color: var(--white-dark-color);
            text-align: center;
        }
        .row-content-table-createplaylist td .song-duration {
            float: right;
            display: flex;
            flex-direction: row;
            margin-right: 15px;
            align-items: center;
        }
        td .song-duration .liked-icon-link a{
           text-decoration: none;
            margin: 10px 0;
            border: none;
        }
        td .song-duration .liked-icon-link a span{
            font-size: 18px;
            font-weight: 500;
            padding: 15px 15px;
            color: #71b7e6;
        }
        .row-content-table-createplaylist td .song-duration p {
            font-size: 14px;
            font-weight: 500;
            color: var(--white-dark-color);
            margin: 10px 0;
            align-self: center;
            margin-right: 15px;
        }
        td .song-duration .more-option a{
            text-decoration: none;
            margin: 10px 0;
            padding-right: 0;
            opacity: 0;
        }
        td .song-duration .more-option a span{
            font-size: 14px;
            font-weight: 500;
            color: var(--text-color);
            border: 1px solid #a9a9a9;
            padding: 5px 15px;
            border-radius: 25px;
        }
         td .song-duration .add-myplaylist a{
            text-decoration: none;
            margin: 10px 0;
            padding-right: 0;
        }
        td .song-duration .add-myplaylist a span{
            font-size: 14px;
            font-weight: 500;
            color: var(--text-color);
            border: 1px solid #a9a9a9;
            padding: 5px 15px;
            border-radius: 25px;
        }
        td .song-duration .more-option a span:hover{
            border: 2px solid #fff;
        }
        td .song-duration .add-myplaylist a span:hover{
            border: 2px solid #fff;
        }
        .row-content-table-createplaylist tr:hover {
            background-color: var(--box-hover-color);
        }
        .row-content-table-createplaylist tr:hover td:nth-child(1) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .row-content-table-createplaylist tr:hover td .song-details a span.artist-name {
            color: var(--text-color);
        }
        .song-details a:hover span.artist-name {
            text-decoration: underline;
        }
        .row-content-table-createplaylist tr:hover td .song-album span {
            color: var(--text-color);
            text-decoration: underline;
        }
        .row-content-table-createplaylist tr:hover .number {
            display: none;
        }
        .row-content-table-createplaylist tr:hover .play-up {
            display: block;
            color: var(--text-color);
        }
        .row-content-table-createplaylist tr:hover .song-duration .more-option a{
            opacity: 1;
            color: var(--text-color);
        }
    /*=========== Add song container ===============*/
    .row-content-table-createplaylist .add-song-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .add-song-container 
        .find-song-text, 
        .recommend-song-text, 
        .search-song-text{
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        padding-top: 10px;
        width: 420px;
    }
    .add-song-container .add-song-search{
        display: flex;
        flex-direction: row;
        width: 410px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .add-song-container .add-song-search input[type="text"]{
        width: 100%;
        height: 40px;
        padding: 0 15px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 5px;
        background-color: var(--box-color);
        border: 1px solid #fff;
        color: #fff;
    }
    .add-song-container .add-song-search input[type="text"]::placeholder{
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    .add-song-container .add-song-search  button{
        border: none;
        padding: 5px 10px;
        margin: 0 15px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: var(--box-color);
        border: 1px solid #a9a9a9;
        border-radius: 5px;
    }
     .add-song-container .add-song-search  button:hover{
        border: 1px solid #fff;
    }
    .add-song-container .recommend-songs-table table{
        width: 100%;
    }
    .add-song-container .search-songs-table table{
        width: 100%;
    }
    /*=================================================*/
    /*=============Pop up form ==========*/
    .createplaylist-text .edit-createplaylist .show-edit-btn span{
        font-size: 40px;
        font-weight: 500;
        color: #ccc;
        margin: 30px;
        cursor: pointer;
    }
    .edit-createplaylist .show-edit-btn span:hover{
        color: #fff;
    }
    .dash-content .edit-details-container {
        position: absolute;
        top: 60%;
        left: 30%;
        transform: translate(-50%, -50%);
        margin-left: 70px;
    }
    input[type="checkbox"] {
        display: none;
    }
    .dash-content .edit-details-container {
        display: none;
        background-color: grey;
        width: 550px;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
    #show-edit-details:checked~.edit-details-container {
        display: block;
    }
    .edit-details-container .close-btn {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 20px;
        cursor: pointer;
        color: #ccc;
    }
    .edit-details-container .close-btn:hover {
        color: #fff;
    }
    .edit-details-container .text {
        font-size: 25px;
        font-weight: 600;
        text-align: left;
        color: #fff;
    }
    .edit-details-container form {
        margin-top: -20px;
    }
    .edit-details-container form .data {
        height: 45px;
        width: 100%;
        margin: 40px 0;
    }
    form .data label {
        color: #fff;
        padding: 5px 0;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    form .data input[type="text"] {
        height: 100%;
        width: 100%;
        padding-left: 10px;
        font-size: 17px;
        border: 1px solid silver;
        border-radius: 5px;
        background-color: grey;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    form .data input[type=file]{
        height: 100%;
        width: 100%;
        border: 1px solid silver;
        border-radius: 5px;
        background-color: grey;
        color: #fff;
    }
    form .data input[type=file]::file-selector-button {
        height: 100%;
        width: 200px;
        border: none;
        background: #ccc;
        color: #fff;
        cursor: pointer;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-transform: none;
    }
    form .data input:focus {
        border-color: #fff;
        border-bottom-width: 2px;
    }
    form .save-btn {
        margin-top: 30px;
        height: 45px;
        width: 100px;
        float: right;
        position: relative;
        overflow: hidden;
    }
    form .save-btn button {
        height: 100%;
        width: 100%;
        background: grey;
        border: 2px solid #ccc;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
    }
    .save-btn button:hover{
        background-color: #fff;
        color: #000;
        border: none;
    }
    /*================= Show option =============================*/
    .dash-top-2 .show-option-btn span {
        font-size: 40px;
        font-weight: 500;
        color: #ccc;
        margin: 30px;
        cursor: pointer;
    }
    .show-option-btn span:hover {
        color: #fff;
    }
    .dash-content .show-option-container{
        position: absolute;
        top: 55%;
        left: 10%;
        transform: translate(-50%, -50%);
        margin-left: 70px;
        margin-top: 20px;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    .dash-content .show-option-container{
        display: none;
        background-color: grey;
        width: 200px;
        padding: 5px;
        border-radius: 3px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
    #show-option:checked~.show-option-container {
        display: block;
    }
    .show-option-container .more-option-items a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #a9a9a9;
    }
    .show-option-container .more-option-items a:last-child {
        border-bottom: none;
    }
    .show-option-container .more-option-items span{
        font-size: 14px;
        font-weight: 600;
        font-family: 'Source Sans Pro', sans-serif;
        text-align: left;
        color: #fff;
        padding: 10px 10px;
        border-radius: 3px;
    }
    .show-option-container .more-option-items span:hover{
        background-color: #a9a9a9;
    }
    
    @media screen and (max-width: 1200px) {
        .createplaylist-text h1 {
            font-size: 40px;
        }
        .row-header .title {
            width: 80%;
        }
        .row-header .album {
            display: none;
        }
        .row-header .icon{
            width: 20%;
        }
       
        .row-content table td:nth-child(1){
            width: 80%;
        }
        .row-content table td:nth-child(2){
            display: none;
        }
        .row-content table td:nth-child(3){
            width: 20%;  
        }
        .row-content td ul li .td-1-3 span {
            width: 300px;
        }
    }
    @media screen and (max-width: 900px) {
        .createplaylist-text h1 {
            font-size: 40px;
        }
        .row-header .title {
            width: 80%;
        }
        .row-header .album {
            display: none;
        }
        .row-header .icon{
            width: 20%;
        }
       
        .row-content table td:nth-child(1){
            width: 80%;
        }
        .row-content table td:nth-child(2){
            display: none;
        }
        .row-content table td:nth-child(3){
            width: 20%;  
        }
        .row-content td ul li .td-1-3 span {
            width: 300px;
        }
    }
    @media screen and (max-width: 600px) {
        .row-content table td:nth-child(1){
            width: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px; 
        }
        .row-content table td:nth-child(3){
            display: none;
        }
        .row-header .icon{
            display: none;
        }
        .row-content td ul li .td-1-3 span {
            width: 200px;
        }
    }